<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtuhub.mapper.BlogMapper">

  <resultMap id="BaseResultMap" type="com.xjtuhub.entity.Blog" autoMapping="true">
    <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="is_draft" jdbcType="INTEGER" property="isDraft" />
    <result column="is_private" jdbcType="INTEGER" property="isPrivate" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="root_id" jdbcType="INTEGER" property="rootId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="graph_addr" jdbcType="VARCHAR" property="graphAddr" />
    <result column="file_addr" jdbcType="VARCHAR" property="fileAddr" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
    <result column="is_done" jdbcType="INTEGER" property="isDone" />
    <association property="course" javaType="com.xjtuhub.entity.Course">
      <result column="major_id" jdbcType="INTEGER" property="majorId" />
      <result column="course_name" jdbcType="VARCHAR" property="courseName" />
      <result column="credit" jdbcType="DECIMAL" property="credit" />
      <result column="period" jdbcType="INTEGER" property="period" />
      <result column="term" jdbcType="VARCHAR" property="term" />
    </association>
  </resultMap>

  <resultMap id="admin_blog_map" type="com.xjtuhub.entity.Blog" autoMapping="true">
    <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
    <association property="course" javaType="com.xjtuhub.entity.Course">
      <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    </association>
  </resultMap>


  <!--  后台：只显示标题、课程、作者、时间、摘要、内容、分类-->
  <sql id="Admin_Blog_List">
    blog_id, role_id,  release_date, course_name,  title, summary, category
  </sql>

  <sql id="Base_Column_List">
    blog_id, role_id, blog.course_id, release_date, is_draft, is_private, is_top, category,
    status, views, title, graph_addr, file_addr, content, summary, course_name, root_id
  </sql>


  <!--  后台查询未审核博客数量-->
  <select id="countRawBlog" resultType="java.lang.Integer">
    select count(*)
    from blog
    where status=0 and is_draft=0 and is_private=0
  </select>
<!--  查询未审核博客-->
  <select id="selectAdminRawBlog" parameterType="com.xjtuhub.entity.Page" resultMap="admin_blog_map">
    select
    <include refid="Admin_Blog_List"></include>
    from blog , course
    where status=0 and is_draft=0 and is_private=0 and blog.course_id = course.course_id
    LIMIT #{limitIndex}, #{pageSize}
  </select>

  <!--  后台查询所有博客数量-->
  <select id="countAllBlog" resultType="java.lang.Integer">
    select count(*)
    from blog
    where is_draft=0 and is_private=0 and status != 0
  </select>
  <!--  后台查询所有博客并分页-->
  <select id="selectAdminAllBlog" parameterType="com.xjtuhub.entity.Page" resultMap="admin_blog_map">
    select
    <include refid="Admin_Blog_List"></include>
    from blog , course
    where status!=0 and is_draft=0 and is_private=0 and blog.course_id = course.course_id
    LIMIT #{limitIndex}, #{pageSize}
  </select>

<!--  后台查询文章数-->
  <select id="countArticle" resultType="java.lang.Integer">
    select count(*)
    from blog
    where category = 0 and status = 1 and is_draft = 0 and is_private = 0
  </select>
<!--  后台查询问题数-->
  <select id="countQuestion" resultType="java.lang.Integer">
    select count(*)
    from blog
    where category = 1 and status = 1 and is_draft = 0 and is_private = 0 and root_id = -1
  </select>
<!--  查询访问量-->
  <select id="countViews" resultType="java.lang.Integer">
    select count(views)
    from blog
    where status = 1 and is_draft = 0 and is_private = 0
  </select>

<!--  查询用户文章数-->
  <select id="countArticleByRole" parameterType="com.xjtuhub.entity.Role" resultType="java.lang.Integer">
    select count(*)
    from blog
    where role_id=#{roleId} and category = 0 and is_draft = 0 and is_private = 0 and status = 1
  </select>
  <!--  查询用户问题数-->
  <select id="countQuestionByRole" parameterType="com.xjtuhub.entity.Role" resultType="java.lang.Integer">
    select count(*)
    from blog
    where role_id=#{roleId} and category = 1 and is_draft = 0 and is_private = 0 and status = 1 and root_id = -1
  </select>
  <!--  查询用户回答数-->
  <select id="countAnswerByRole" parameterType="com.xjtuhub.entity.Role" resultType="java.lang.Integer">
    select count(*)
    from blog
    where role_id=#{roleId} and category = 1 and status = 1 and root_id != -1
  </select>
  <!--  查询用户浏览数-->
  <select id="countViewsByRole" parameterType="com.xjtuhub.entity.Role" resultType="java.lang.Integer">
    select count(views)
    from blog
    where role_id=#{roleId} and is_draft = 0 and is_private = 0 and status = 1
  </select>

<!--  根据课程ID查找文章-->
  <select id="selectArticleByCourse" parameterType="com.xjtuhub.entity.Course" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where blog.course_id=#{courseId} and category = 0 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    limit 10
  </select>
  <!--  根据课程ID查找文章数-->
  <select id="countArticleByCourse" parameterType="com.xjtuhub.entity.Course" resultType="java.lang.Integer">
    select count(*)
    from blog
    where course_id=#{courseId} and category = 0 and is_draft = 0 and is_private = 0 and status = 1
  </select>
  <!--  根据课程ID分页查找文章-->
  <select id="selectArticlePageByCourse" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where blog.course_id=#{course.courseId} and category = 0 and is_draft = 0 and is_private = 0 and blog.course_id = course.course_id and status = 1
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--  根据课程ID查找问题-->
  <select id="selectQuestionByCourse" parameterType="com.xjtuhub.entity.Course" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where blog.course_id=#{courseId} and category = 1 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    limit 10
  </select>

  <!--  根据课程ID查找问题数-->
  <select id="countQuestionByCourse" parameterType="com.xjtuhub.entity.Course" resultType="java.lang.Integer">
    select count(*)
    from blog
    where course_id=#{courseId} and category = 1 and is_draft = 0 and is_private = 0 and status = 1
  </select>
  <!--  根据课程ID分页查找问题-->
  <select id="selectQuestionPageByCourse" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where blog.course_id=#{course.courseId} and category = 1 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--根据用户ID查找草稿数-->
  <select id="countDraftByRole" parameterType="com.xjtuhub.entity.Role" resultType="java.lang.Integer">
    select count(*)
    from blog
    where role_id=#{roleId} and is_draft = 1 and is_private = 0 and status = 1
  </select>
  <!--根据用户ID查找草稿-->
  <select id="selectDraftByRole" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where role_id=#{role.roleId} and is_draft = 1 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    order by release_date desc
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--  根据用户ID查询文章列表-->
  <select id="selectArticleByRole" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where role_id=#{role.roleId} and category = 0 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    order by release_date desc
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--  根据ID查询问答列表-->
  <select id="selectQuestionByRole" parameterType="com.xjtuhub.entity.Role" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where role_id=#{role.roleId} and category = 1 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    order by release_date desc
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--  根据内容搜索文章-->
  <select id="selectArticleByContent" parameterType="com.xjtuhub.entity.Blog" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where category = 0 and is_draft = 0 and is_private = 0 and blog.course_id = course.course_id and status = 1 and (title like concat('%', #{content}, '%') or summary like concat('%', #{content}, '%') or course_name like concat('%', #{content}, '%') or content like concat('%',#{content},'%'))
    order by views desc
  </select>
<!-- 根据内容查询文章数 -->
  <select id="countArticleByContent" parameterType="com.xjtuhub.entity.Blog" resultType="java.lang.Integer">
    select count(*)
    from blog,course
    where category = 0 and is_draft = 0 and is_private = 0 and  blog.course_id = course.course_id and status = 1 and (title like concat('%', #{content}, '%') or summary like concat('%', #{content}, '%') or course_name like concat('%', #{content}, '%') or content like concat('%',#{content},'%'))

  </select>
  <!--  根据内容分页搜索文章-->
  <select id="selectArticlePageByContent" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where category = 0 and is_draft = 0 and is_private = 0 and blog.course_id = course.course_id and status = 1 and (title like concat('%', #{blog.content}, '%') or summary like concat('%', #{blog.content}, '%') or course_name like concat('%', #{blog.content}, '%') or content like concat('%',#{blog.content},'%'))
    order by views desc
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--  根据内容搜索问题-->
  <select id="selectQuestionByContent" parameterType="com.xjtuhub.entity.Blog" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where category = 1 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id and (title like concat('%', #{content}, '%') or summary like concat('%', #{content}, '%') or course_name like concat('%', #{content}, '%') or content like concat('%',#{content},'%'))
    order by views desc
  </select>
  <!-- 根据内容查询问题数 -->
  <select id="countQuestionByContent" parameterType="com.xjtuhub.entity.Blog" resultType="java.lang.Integer">
    select count(*)
    from blog,course
    where category = 1 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id and (title like concat('%', #{content}, '%') or summary like concat('%', #{content}, '%') or course_name like concat('%', #{content}, '%') or content like concat('%',#{content},'%'))
  </select>
  <!--  根据内容分页搜索问题-->
  <select id="selectQuestionPageByContent" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog,course
    where category = 1 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id and (title like concat('%', #{blog.content}, '%') or summary like concat('%', #{blog.content}, '%') or course_name like concat('%', #{blog.content}, '%') or content like concat('%',#{blog.content},'%'))
    order by views desc
    LIMIT #{page.limitIndex}, #{page.pageSize}
  </select>

  <!--展示所有文章-->
  <select id="selectArticleList" parameterType="com.xjtuhub.entity.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog, course
    where category = 0 and is_draft = 0 and is_private = 0 and status = 1 and blog.course_id = course.course_id
    order by release_date desc
    LIMIT #{limitIndex}, #{pageSize}
  </select>

  <!--展示所有问题-->
  <select id="selectQuestionList" parameterType="com.xjtuhub.entity.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from blog, course
    where category = 1 and is_draft = 0 and is_private = 0 and status = 1 and root_id = -1 and blog.course_id = course.course_id
    order by release_date desc
    LIMIT #{limitIndex}, #{pageSize}
  </select>
<!--获取相关文章-->
  <select id="selectRelativeBlog" parameterType="com.xjtuhub.entity.Blog" resultMap="BaseResultMap">
    select *
    from blog
    where blog.course_id = #{courseId} and blog.status = 1 and blog.is_draft = 0 and blog.is_private = 0 and blog.blog_id != #{blogId}
  </select>

  <resultMap id="starBlogMap" type="com.xjtuhub.entity.Blog" autoMapping="true">
    <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    <association property="favorites_relation" javaType="com.xjtuhub.entity.Favorites_relationKey">
      <id column="favorite_id" jdbcType="INTEGER" property="favoriteId" />
      <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    </association>
  </resultMap>
<!--  获取博客收藏数-->
  <select id="countStarByBlog" parameterType="com.xjtuhub.entity.Blog" resultType="java.lang.Integer">
    select count(*)
    from blog , favorites_relation
    where blog.blog_id = #{blogId} and blog.blog_id = favorites_relation.blog_id
  </select>
<!--  获取问题下答案列表-->
  <select id="selectAnswerListByBlog" parameterType="com.xjtuhub.entity.Blog" resultMap="BaseResultMap">
    select *
    from blog
    where category = 1 and status = 1 and is_draft = 0 and is_private = 0 and root_id = #{blogId}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog, course
    where blog_id = #{blogId,jdbcType=INTEGER} and blog.course_id = course.course_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.xjtuhub.entity.Blog">
    insert into blog (blog_id, role_id, course_id, 
      release_date, is_draft, is_private, 
      is_top, category, status, 
      views, title, graph_addr, 
      file_addr, content, summary, root_id, is_done
      )
    values (#{blogId,jdbcType=INTEGER}, #{roleId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, 
      #{releaseDate,jdbcType=TIMESTAMP}, #{isDraft,jdbcType=BIT}, #{isPrivate,jdbcType=BIT}, 
      #{isTop,jdbcType=BIT}, #{category,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{views,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{graphAddr,jdbcType=VARCHAR}, 
      #{fileAddr,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{summary,jdbcType=LONGVARCHAR}, #{rootId,jdbcType=INTEGER}, #{isDone,jdbcType=INTEGER}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.xjtuhub.entity.Blog">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="isDraft != null">
        is_draft,
      </if>
      <if test="isPrivate != null">
        is_private,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="views != null">
        views,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="graphAddr != null">
        graph_addr,
      </if>
      <if test="fileAddr != null">
        file_addr,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDraft != null">
        #{isDraft,jdbcType=BIT},
      </if>
      <if test="isPrivate != null">
        #{isPrivate,jdbcType=BIT},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=BIT},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="views != null">
        #{views,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="graphAddr != null">
        #{graphAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xjtuhub.entity.Blog">
    update blog
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDraft != null">
        is_draft = #{isDraft,jdbcType=BIT},
      </if>
      <if test="isPrivate != null">
        is_private = #{isPrivate,jdbcType=BIT},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=BIT},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="graphAddr != null">
        graph_addr = #{graphAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        file_addr = #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.xjtuhub.entity.Blog">
    update blog
    set role_id = #{roleId,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=TIMESTAMP},
      is_draft = #{isDraft,jdbcType=BIT},
      is_private = #{isPrivate,jdbcType=BIT},
      is_top = #{isTop,jdbcType=BIT},
      category = #{category,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      views = #{views,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      graph_addr = #{graphAddr,jdbcType=VARCHAR},
      file_addr = #{fileAddr,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR}
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>

</mapper>